.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginformlabel {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.loginforminput {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.loginformheader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.errors {
    color: rgb(250, 35, 35);
}

.loginbutton {
    background: none;
    border: none;
    color: var(--primary);
    width: 100%;
}

.loginbutton:hover {
    background-color: var(--background);
}
.demouserbutton {
    background: none;
    border: none;
    color: var(--primary);

}
.demouserbutton:hover {
    background-color: var(--background);

}
