.myplacescontainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.myplacesdata {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 65%;

}

.myplacesimage {
    display: flex;
    height: 100px;
    width: 150px;
    border-radius: 5px;
}

.infobutton {
    display: flex;
    margin-left: 550px;
    width: 4%;
    justify-content: flex-end;
}

.myplacedetails {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

.myplaces {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.imagerow {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
