.myplacescontainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.myplacestitle{
    margin-top: 5px;
}
.myplacestitle:after {
    content: "";
    background: rgba(255, 255, 255, 0.87);
    position: absolute;
    /* bottom: 0; */
    top: 90px;
    left: 300px;
    height: .1%;
    width: 90%;
  }
.myplacesdata {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 65%;

}

.myplacesimage {
    display: flex;
    height: 100px;
    width: 150px;
    border-radius: 5px;
}

.infobutton {
    display: flex;
    margin-left: 550px;
    width: 4%;
    justify-content: flex-end;
}

.myplacedetails {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

.myplaces {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-top: 15px;
}

.imagerow {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.deleteplacesbuttoncontainer {
    display: flex;
    justify-content: flex-end;
}

.deleteplacesbutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 18px;
    width: 6%;
  }

  .deleteplacesbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .deleteplacesbutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
