.maindetailscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detailsimages {
    width: 400px;
    height: 200px;
}
.inforeviewbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 90%;
}
