.maindetailscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.detailsimages {
    width: 400px;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    left: 100px;

}
.inforeviewbuttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 20px;
    margin-right: 130px;



}
.inforeviewbuttons:after {
  content: "";
  background: rgba(255, 255, 255, 0.87);
  position: absolute;
  bottom: 0;
  left: 145px;
  height: 1%;
  width: 120%;
}

.infobutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 28px;
    width: 10%;
  }

  .infobutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .infobutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .reviewbutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 28px;
    width: 10%;
  }

  .reviewbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .reviewbutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.editbutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 18px;
    width: 80%;
  }

  .editbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .editbutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.deletebutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 18px;
    width: 80%;
  }

  .deletebutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .deletebutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.campsitedetailscontainer {

  width: 50%;
}
 .details {
    display:flex;
    width: 100%;
    overflow-y: scroll;
    word-break: break-all;
    margin-top: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;

 }
 .details::-webkit-scrollbar {
  display: none;
}


.addtoplacesbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  color: var(--primary);
  height: 25px;

}
.addtoplacesbutton:hover {
  background-color: #0b1322;

}

.addtoplacesbutton:disabled {
  background-color: #63636375;
  border-color:var(--primary);
  color: #fff;

}
