.createmaincontainer .campsiteform {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    height: 100%;
    width: 50%;
}

.name-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}

.namelabel {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.location-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.locationlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.details-form {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    max-width: 350px;
    max-height: 150px;
    min-width: 350px;
    min-height: 150px;

}
.detailslabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.cost-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.costlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.landtypeselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.landtypelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.celldataselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.celldatalabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.image-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.imagelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}



.error-text {
    color: rgb(250, 35, 35);
}

#addmapcontainer {
    position: absolute;
    z-index: 1;
    right:100px;
    top: 0px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 173vh;
}

.openmapbutton {
    display: inline-block;
    margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 18px;
}

.openmapbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.openmapbutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  .submit-form {
      display: inline-block;
      margin: 5px;
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    font-size: 18px;
    width: 10%;
}

.submit-form::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.submit-form:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.errormessageadd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    /* margin-top: 400px; */
}
