

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.container {
  display: flex;
  flex-direction: row;
}

.aboutcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}

.homebutton {
  font-size: 28px;
}

.profilebutton {
  background: none;
  border: none
}


