

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.container {
  display: flex;
  flex-direction: row;
}

.aboutcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}

.homebutton {
  display: inline-block;
  margin: 5px;
  position: relative;
  --background: #fff;
  background: none;
  border: none;
  font-size: 28px;
}

.homebutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.homebutton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.profilebutton {
  background: none;
  border: none
}


.profilebuttons {
  display: inline-block;
  margin: 10px;
  position: relative;
  color: var(--primary);
  /* color: white; */
  background: none;
  border: none;
  font-size: 18px;
}

.profilebuttons::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;

  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.profilebuttons:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.campsitesbutton {
  display: inline-block;
  margin: 5px;
  position: relative;
  --background: #fff;
  background: none;
  border: none;
  font-size: 18px;
}

.campsitesbutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.campsitesbutton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logoutbutton {
  display: inline-block;
  margin: 5px;
  position: relative;
  color: var(--primary);
  background: none;
  border: none;
  font-size: 14px;
}

.logoutbutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.logoutbutton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.myplacesbutton {
  display: inline-block;
  margin: 5px;
  position: relative;
  color: #ffffff;
  background: none;
  border: none;
  font-size: 18px;
}

.myplacesbutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.myplacesbutton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
