.checklistscontainer {
    display: flex;
    margin: 15px;
    margin-left: 100px;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.checklistdata {
    display: flex;
    width: 65%;
    flex-direction: column;


}

.itemcontainer {
    display: flex;

}
.item {
    display: flex;
    margin-top: 5px;
    flex-direction: column;

}

.itemdata {
    display: flex;
    border: 1px solid white;
    height: 500px;
    width: 500px;
    flex-direction: column;
}

.checklistbutton {
    display: flex;
    padding: 10px;
    background: none;
    border-radius: 15px;
    border: 1px solid white;
    color: var(--primary);
    margin: 5px;
}
