.createmaincontainer .campsiteform {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    height: 100%;
    width: 50%;
}

.errormessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}
.name-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}

.namelabel {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.location-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.locationlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.detailslabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.cost-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.costlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.landtypeselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.landtypelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.celldataselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.celldatalabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.image-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.imagelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}



.errors {
    color: rgb(250, 35, 35);
}



.cleanlinessselect {
    width: 300px;
    margin: 20px;
}
.roaddifficultyselect {
    width: 300px;
    margin: 20px;
}
.accessibilityselect {
    width: 300px;
    margin: 20px;
}

.cleanlinesslabel {
    margin: 5px;
}
.roaddifficultylabel {
    margin: 5px;
}
.accessibilitylabel {
    margin: 5px;
}

/* .openmapbutton {

} */

#addmapcontainer2 {
    position: absolute;
    z-index: 1;
    right:100px;
    top: 50px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 173vh;
}
