.createmaincontainer .campsiteform {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    height: 100%;
    width: 50%;
}

.errormessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}
.name-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}

.namelabel {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.location-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.locationlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.details-form {
    border-radius: 10px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.detailslabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.cost-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.costlabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.landtypeselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.landtypelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.celldataselect {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.celldatalabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.image-form {
    border-radius: 20px;
    height: 25px;
    width: 275px;
    margin-bottom: 20px;
}
.imagelabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.submit-form {
    background: none;
    border: none;
    color: var(--primary);
    width: 100%;
}

.submit-form:hover {
    background-color: var(--background);

}


.errors {
    color: rgb(250, 35, 35);
}

.loginbutton {
    background: none;
    border: none;
    color: var(--primary);
    width: 100%;
}

.demouserbutton {
    background: none;
    border: none;
    color: var(--primary);

}
.loginbutton:hover {
    background-color: var(--background);
}
.demouserbutton:hover {
    background-color: var(--background);

}
